*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

header{
  background:#111;
  color:white;
  padding:15px 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

header nav a{
  color:white;
  text-decoration:none;
  margin-left:25px;
  font-weight:bold;
}

.hero{
  height:90vh;
  background:linear-gradient(to right, #000, #444);
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero h1{
  font-size:50px;
}

.hero p{
  margin:20px 0;
  font-size:18px;
}

.btn{
  background:#ff9800;
  padding:12px 30px;
  color:black;
  text-decoration:none;
  font-weight:bold;
}

.about{
  padding:80px;
  text-align:center;
  background:#f2f2f2;
}

.services{
  padding:80px;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.services h2{
  width:100%;
  text-align:center;
  margin-bottom:40px;
}

.service-box{
  background:#fff;
  padding:30px;
  width:250px;
  text-align:center;
  margin:15px;
  box-shadow:0 0 10px gray;
}

.contact{
  padding:80px;
  text-align:center;
  background:#111;
  color:white;
}

.contact input,
.contact textarea{
  width:80%;
  max-width:400px;
  margin:10px 0;
  padding:10px;
}

.contact button{
  padding:10px 25px;
  background:#ff9800;
  border:none;
  cursor:pointer;
  font-weight:bold;
}

footer{
  background:black;
  color:white;
  text-align:center;
  padding:15px;
}
